@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple: rgb(123, 31, 163);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
    --star-left: 0;
    --star-right: 0;

    --background: #111010;
    --primary: #eff1ed;
    --secondary: #fe5d26;
  }
}
