@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple: rgb(123, 31, 163);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
    --star-left: 0;
    --star-right: 0;

    --background: #0b2027;
    --primary: #70a9a1;
    --secondary: #40798c;

    --text-primary: #b3efb2;
    --text-secondary: #70a9a1;
    --text-hover: #70a9a1;
  }
}
@layer components {
  .heroButton {
    @apply px-6 py-2 uppercase text-xs tracking-widest text-[var(--text-primary)] 
    transition-all hover:text-[#0B837F];
  }

  .contactInput {
    @apply outline-none space-y-10 bg-slate-100/10 rounded-sm 
    border-b px-2 py-2 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all
    focus:text-gray-300 focus:border-[#08605F] hover:border-[#08605F];
  }

  /* .aboutImages {
    @apply h-56 w-56 -mb-20 md:mb-0 flex-shrink-0 rounded-full object-cover
    md:rounded-lg md:w-96 md:h-96 xl:w-[500px] xl:h-[600px];
  } */
}
